{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post">
    {% csrf_token %}
    <input type="text" placeholder="enter your name" name="user-name">
    <input type="text" placeholder="enter your last name" name="user-lastname">
    <textarea placeholder="enter your text" name="user-text"></textarea>
    <button type="submit">enter</button>
</form>
<a href="{% url 'main:index_view' %}">Home</a>
</body>
</html>