<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 style="text-align: center">
    hi wellcome to social network site
</h1>
<div style="border: 1px solid black; background-color: gray; color: white">
    <p style="text-align: center">username : {{ request.user.username }}</p>
</div>
<p>categories : </p>
<br></br>
{% for i in categories %}
    <a href="{{ i.get_absolute_url }}">{{ i.name }}</a>
    <br>
{% endfor %}

{% if request.user.is_authenticated %}
    <a href="{% url 'account:logout_view' %}"
       style="text-decoration: none; background-color: blue; color: white">logout</a>
    <br>
    <br>
    <br>
{% else %}
    <a href="{% url 'account:login_view' %}"
       style="text-decoration: none; background-color: blue; color: white">login</a>
    <br>
    <br>
    <br>
    <a href="{% url 'account:register_view' %}" style="text-decoration: none; background-color: blue; color: white">register</a>
{% endif %}
<br>
<br>
<br>
<br>
<a href="{% url 'main:contactus' %}" style="text-decoration: none; background-color: blue; color: white">contact us</a>

{% for i in post %}
    <div style="width: 500px; height: 500px; border: 1px solid black">
        <img src="{{ i.image.url }}" style="width: 500px; height: 300px">
        <a href="{{ i.get_absolute_url }}" style="text-align: center">{{ i.title }}</a>
        <p>{{ i.content|slice:":50" }}</p>
        <P style="color: red">Posted at : {{ i.date_posted }}</P>
        <a href="{{ i.category.first.get_absolute_url }}">{{ i.category.first }}</a>
        {% if i.category.count > 1 %}
            <a href="{{ i.category.last.get_absolute_url }}">{{ i.category.last }}</a>
        {% endif %}
    </div>
{% endfor %}
{% if page_obj.has_other_pages %}
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next</a>
    {% endif %}
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
    {% endif %}
{% endif %}
<br>
{% for i in page_obj.paginator.page_range %}
    {% if page_obj.number == i %}
        <a href="?page={{ i }}" style="color: white; background-color: red">{{ i }}</a>
    {% else %}
        <a href="?page={{ i }}">{{ i }}</a>
    {% endif %}
{% endfor %}

</body>
</html>