<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="width: 80%; height: 600px">
    <img src='{{ post.image.url }}' style="width: 80%; height: 300px">
    <h1 style="text-align: center">title : {{ post.title }}</h1>
    <p>
        description : {{ post.content }}
    </p>
    <p style="background-color: blue; color: white">
        author : {{ post.author.username }}
    </p>
    <p style="color: red">posted at : {{ post.date_posted }}</p>
    <a href="{{ post.category.first.get_absolute_url }}">{{ post.category.first }}</a>
    {% if post.category.count > 1 %}
        <a href="{{ post.category.last.get_absolute_url }}">{{ post.category.last }}</a>
    {% endif %}
</div>
</body>
</html>