<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div style="width: 80%; height: 600px">
    <img src='{{ post.image.url }}' style="width: 80%; height: 300px">
    <h1 style="text-align: center">title : {{ post.title }}</h1>
    <p>
        description : {{ post.content }}
    </p>
    <p style="background-color: blue; color: white">
        author : {{ post.author.username }}
    </p>
    <p style="color: red">posted at : {{ post.date_posted }}</p>
    <a href="{{ post.category.first.get_absolute_url }}">{{ post.category.first }}</a>
    {% if post.category.count > 1 %}
        <a href="{{ post.category.last.get_absolute_url }}">{{ post.category.last }}</a>
    {% endif %}
    {% if likes == True %}
        <button onclick="like('{{ post.slug }}', '{{ post.id }}')"><span id="like-count">{{ post.likes.all.count }}</span> <i id="like">unlike</i></button>
    {% endif %}
    {% if likes == False %}
        <button onclick="like('{{ post.slug }}', '{{ post.id }}')"><span id="like-count">{{ post.likes.all.count }}</span> <i id="like">like</i></button>
    {% endif %}
    {% if likes == None %}
        <a href="{% url 'account:login_view' %}">you shold login to like posts</a>
    {% endif %}
</div>

<div class="comments" style="width: 300px">
    <h4 style="color: red">{{ post.comments.all.count }} comments : </h4>
    {% for comment in post.comments.all %}
        {% if comment.parent == None %}
            <div class="comment" style="width: 100%; height: 100px; border: 1px solid black">
                <p style="text-align: center">{{ comment.author.username }}</p>
                <p style="text-align: center">{{ comment.content }}</p>
                <button onclick="input_value({{ comment.id }})">reply</button>
            </div>
            {% for reply in comment.replies.all %}
                <div class="reply" style="width: 80%; height: 100px; margin-left: 50px; border: 1px solid red">
                    <p style="font-size: 10px; color: red">reply to <span
                            style="color: blue">{{ comment.author.username }}</span></p>
                    <p style="text-align: center">{{ reply.author.username }}</p>
                    <p style="text-align: center">{{ reply.content }}</p>
                </div>
            {% endfor %}
        {% endif %}
    {% endfor %}
</div>
{% if request.user.is_authenticated %}
    <div style="width: 500px; height: 300px; border: 1px solid black; margin: auto">
        <p style="text-align: center">enter your comment</p>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="parent_id" value="" id="parent_id">
            <textarea name="content" placeholder="your comment" id="content-input"></textarea>

            <button type="submit">enter</button>
            <br><br>
            <p style="color: red">If you click on the reply button, you can change it into a simple comment by clicking
                this button : </p>
            <button onclick="reset_value()" type="reset">add a single comment (no reply)</button>

        </form>
    </div>
{% else %}
    <p style="color: white; text-align: center; background-color: black">you should login for adding comment</p>
{% endif %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    function like(slug, id){
        var element = document.getElementById('like')
        var count = document.getElementById('like-count')
        $.get(`/blog/like/${slug}/${id}/`).then(response =>{
            if (response['response'] === 'liked'){
                element.innerText = 'unlike'
                count.innerText = Number(count.innerText)+1
            }else{
                element.innerText = 'like'
                count.innerText = Number(count.innerText)-1

            }
        })
    }
</script>
<script>
    function input_value(id) {
        document.getElementById('parent_id').value = id;
        window.location.href = "#content-input";
        document.getElementById('content-input').placeholder = 'enter your reply'
    }

    function reset_value() {
        document.getElementById('parent_id').value = '';
        document.getElementById('content-input').placeholder = 'enter your comment'
    }
</script>
</body>
</html>